<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block head_title %} {% endblock %}</title>

    {% include 'base/snippets/head.html' %}

    {% block extra_head %}
    {% endblock %}

</head>

<body>
    {% block header %}
    {% include 'base/snippets/header.html' %}
    {% endblock %}

    {% include 'base/snippets/messages.html' %}

    {% block container %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    {% include 'base/snippets/footer.html' %}
    {% endblock %}

    {% include 'base/snippets/scripts.html' %}
    {% block extra_body %}
    {% endblock %}
</body>

</html>